#title{
    background-color: red;
    color:white;
    font-size: 50px;
    padding: 1vh;
}

.card{
    margin:2vw;
    display: inline-block;
}

.card-header{
    background-color: blue;
    color:white
}